@font-face {
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 400;
	src:
		url(Exo2-Regular.otp') format('opentype'),
		url(Exo2-Bold.otp') format('opentype'),
		url(Exo2-Italic.otp') format('opentype');
}
